<sly data-sly-use.model = "com.aemvilla.core.models.HeaderModel">

    ${model.toString}

    <u1 data-sly-list="${model.navigation}">
        <li>
            text:${items.text}
            path:${items.url}

        </li>
    </u1>

</sly>





<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">

                    <a href="#" class="logo">
                        <h1>Villa</h1>
                    </a>

                    <ul class="nav">
                        <li><a href="#" class="active">Home</a></li>
                        <li><a href="#">Properties</a></li>
                        <li><a href="#">Property Details</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#"><i class="fa fa-calendar"></i> Schedule a visit</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>

                </nav>
            </div>
        </div>
    </div>
</header>

